<header>
    <nav>
        <a href="/home">Bioskop</a>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/daftar">Daftar Film</a></li>
            <li><a href="/daftar/add">Add Film</a></li>
        </ul>
    </nav>
</header>