<header>
    <nav>
        <a href="/home">Bioskop</a>
        <ul>
            <li><a href="/daftar">All Film</a></li>
            <li><a href="/daftar/update">Update Film</a></li>
        </ul>
    </nav>
</header>