body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-decoration: none;
}
header{
    background-color: aqua;
    color: blue;
    border-style: dotted;
}
nav{
    background-color: whitesmoke;
}