Checklist Film yang mau di delete :
<br>
<%= typeof filmUpdate !== 'undefined' ? `${filmUpdate} sudah dihapus` : "-"%>
<form action="/daftar/delete" method="post">
    <ul>
        <% for (let i = 0; i < listFilm.length; i++) { %>
            <li class="del-list">
                <input type="radio" name="isDelete" value="<%= listFilm[i]["imdbID"]%>">
                <%= listFilm[i]["title"]%>
            </li>
        <% } %>
    </ul>
    <button class="btn-primary" type="reset">Reset</button>
    <button class="btn-danger" onclick="getDelFilm()">Delete</button>
</form>